<p>
<div class="item", align="center">
<h2>Login</h2>
<p id="notice"><%= notice %></p>
<%= form_tag create_session_url do %>
  <div>
    <%= text_field_tag :username, "", placeholder: 'Enter Username' %>
  </div>
  <div>
    <%= password_field_tag :password, "", placeholder: 'Enter Password' %>
  </div>
  <%= submit_tag "Login", class: "btn btn-info" %>
</div>
</p>

<p>
  <div class="item", align="center">
    <h4>Not a member?</h4>
    <nav ><%= link_to 'Sign up', signup_url, class: "btn btn-info" %></nav>
    <% end -%>
  </div>
</p>
<div id="bgimgwrapper">
  <img alt="" src="http://www.terrasd.com/wp-content/uploads/2012/02/1.jpg" id="bgimg" style="width: 100%;" />
</div>
