<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      <h3>
         <%=  @user.username.capitalize %>'s Profile
      </h3>
      <p><%= link_to '(edit profile)', edit_user_path(@user) %></p>
      <p># of reviews: <%= @user.meals.count %></p>
      <p>average rating:
        <%= number_with_precision(@user.meals.average(:rating), :precision =>2) %></p>
    </div>
    <div class="span10">
      <!--Body content-->
    <legend>My Reviews</legend>
      <div id="accordion">
        <% @user.meals.order('created_at desc').each do |i| %>
        <h3><%= i.dish.category %> @ <%= i.restaurant.name %> | <%= i.rating %> stars | <%= i.created_at.strftime("%m/%d/%Y")%> | <%= link_to 'Delete', i, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
        <div>
          <p><%= i.review %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$( "#accordion" ).accordion();
</script>




