<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      <h3>
         <%=  @user.username.capitalize %>'s Profile
      </h3>
      <p><%= link_to '(edit profile)', edit_user_path(@user) %></p>
      <p># of reviews: <%= @user.meals.count %></p>
      <p>average rating:
        <%= number_with_precision(@user.meals.average(:rating), :precision =>2) %></p>
    </div>
    <div class="span10">
      <!--Body content-->
    <legend>Write a Review</legend>
    <%= render 'meal_form', meal: @meal %>

    <legend>My Latest Reviews</legend>
      <ul id="list_of_meals">
        <% @user.meals.order('created_at desc').each do |meal| %>
        <%= render 'meal_partial', meal: meal %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


