<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @meal.user_id %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @meal.restaurant_id %>
</p>

<p>
  <b>Dish:</b>
  <%= @meal.dish_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @meal.rating %>
</p>

<p>
  <b>Review:</b>
  <%= @meal.review %>
</p>

<p>
  <b>Picture:</b>
  <%= @meal.picture %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
