<p id="notice"><%= notice %></p>

<h2>
   The Best <%=  @dish.category %>'s in Chicago
</h2>

<table class="table table-striped">
  <tr>
    <th>Restaurant</th>
    <th></th>
    <th>Rating</th>
    <th></th>
    <th>Review</th>
  </tr>

  <tr><% @dish.meals.each do |meal| %>
    <td><%= link_to meal.restaurant.name, restaurant_url(meal.restaurant_id) %></td>
  <td></td>
    <td><%= meal.rating %></td>
      <td></td>
    <td><%= meal.review %></td>  </tr>
    <% end  %>

</table>

