<%= form_for(@restaurant, html: { class: "form-horizontal" }) do |f| %>

<fieldset>

  <div class="row-fluid">

    <div class="span5">

      <div class="control-group">
        <%= f.label :name,"Look up a restaurant", class: "control-label" %>
      <div class="controls">
        <%= text_field_tag :restaurant_search, nil, class: "span12", type: "search", placeholder: "Search for a restaurant here, hit tab to autofill info" %>
      </div>
    </div>

      <div class="control-group">
        <%= f.label :name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name, class: "span12" %>
        </div>
      </div>
    <div class="control-group">
        <%= f.label :address, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :address, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :phone_number, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :phone_number, class: "span12" %>
        </div>
        </div>
      <div class="control-group">
        <%= f.label :district, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :district, class: "span12" %>
        </div>
        </div>
     <div class="control-group">
        <%= f.label :postcode, class: "control-label" %>
        <div class="controls">
        <%= f.text_field :postcode, class: "span12" %>
        </div>
        </div>
     <div class="control-group">
        <%= f.label :city, "State", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :city, class: "span12" %>
        </div>
        </div>
      <div class="control-group">
        <%= f.label :country, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :country, class: "span12" %>
        </div>
        </div>
        <div class="controls">
          <%= f.hidden_field :lat, class: "span12" %>
        </div>
        <div class="controls">
          <%= f.hidden_field :lng, class: "span12" %>
        </div>
<div class=”field”>

      <div class="control-group">
        <%= f.submit "Add Restaurant", class: 'btn' %>
      </div>

    <div class="span7">
      <% if @restaurant.errors.any? %>
        <div class="notice">
          <h3>Errors</h3>
          <ul>
          <% @restaurant.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
     </div>
<!-- The googlemap partial below autocompletes the search and fills in the text-fields -->
      <%= render partial: "googlemap" %>
    </div>
  </div>

</fieldset>
<% end %>



