<h3>
   Rated Dishes at <%=  @restaurant.name %>
</h3>

<p>
  <b>Basic Info:</b>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.city %>, <%= @restaurant.postcode %></p>
  <p><%= @restaurant.phone_number %></p>

</p>

<table class="table table-striped">
  <tr>
    <th>Dish</th>
    <th></th>
    <th>Rating</th>
    <th></th>
    <th>Review</th>
  </tr>

  <tr><% @restaurant.meals.each do |i| %>
    <td><%= i.dish.category %></td>
  <td></td>
    <td><%= i.rating %></td>
      <td></td>
    <td><%= i.review %></td>  </tr>
    <% end  %>

</table>
