<!DOCTYPE html>
<html>
<head>


  <title>nom nom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

 </head>
<body>
  <div class="container">
<div class="navbar">
    <div class="navbar-inner">
    <ul class="nav">
          <a class="brand" <%= link_to image_tag('nomnomlogo.png', size: '150x150'), meals_url %> </a>
    <li><%= link_to "what", dishes_url %></li>
    <li><%= link_to "where", restaurants_url %></li>
    <li><%= link_to "write", new_meal_url %></li>
    <% if current_user.present? %>
             <li><%= link_to "my profile", user_url(current_user.id) %></li>
              <li><%= link_to "logout", logout_url %></li>
            <% else %>
            <li><%= link_to "sign up", signup_url %></li>
           <li><%= link_to "login", login_url %></li>
            <% end %>
  </ul>
  </div>
</div>
<h3><div class="item", align="center">
  <%= notice %>
</div></h3>
<%= yield %>
</div>
</body>
</html>



